<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
  <!-- STYLESHEET  -->
  <link rel="stylesheet" type="text/css" href="css/styles.css" />

    <title>Web Scrapper Project</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to Web Scrapper!</h1>
        Search content from top 5 Websites

        <form action="/" method="post">
            <input type="text" name="query" id="query" placeholder="write your query.." />
            <button type="submit">Submit Query</button>
        </form>
        <h3>Text from URL 1</h3>
        <p><%=text1%></p>
        <h3>Text from URL 2</h3>
        <p><%=text2%></p>
        <h3>Text from URL 3</h3>
        <p><%=text3%></p>
        <h3>Text from URL 4</h3>
        <p><%=text4%></p>
        <h3>Text from URL 5</h3>
        <p><%=text5%></p>
    </div>

</body>

</html>